@charset "utf-8";

/*	项目名称：梧桐
 *	文件名称：梧桐系统公用css文件
 *	开发时间：2017/04/19
 * 	开发人员：344822559@qq.com
 * 	页面样式标识符：_zm
 * */


.bg_paleBlue{
	background:#a6cfe2;
}
.bg_lilac{
	background:#a593e0;
}
.bg_orange{
	background:#fb9e75;
}
.bg_pink{
	background:#ee7785;
}
.bg_green{
	background:#a8dba8;
}
.bg_moran{
	background:#9baec8;
}
.bg_orange_01{
	background: #CC9999;
}
.bg_red_01{
	background: #FF9999;
}
.bg_black_01{
	background: #999999;
}