@charset "utf-8";

/*	项目名称：梧桐
 *	文件名称：框架内系统页面css文件
 *	开发时间：2017/04/14
 * 	开发人员：398146685@qq.com
 * 	页面样式标识符：_b
 * */


.bg_shallow_black{
	background:#3e4245;
}

.f_orange{
	color:#fa7854;
}

.f_shallow_black{
	color:#333333;
}

.f_deep_gray{
	color:#666666;
}

.f_shallow_gray{
	color:#999999;
}

.main_left_b .jspDrag{
	background: #f7b494;
}
