@charset "utf-8";

/*	项目名称：梧桐
 *	文件名称：框架内系统页面css文件
 *	开发时间：2017/04/14
 * 	开发人员：398146685@qq.com
 * 	页面样式标识符：_b
 * */


.bg_shallow_black{
	background:#3e4245;
}

.f_orange{
	color:#fa7854;
}

.f_shallow_black{
	color:#333333;
}

.f_deep_gray{
	color:#666666;
}

.f_shallow_gray{
	color:#999999;
}

.main_left_b .jspDrag{
	background: #f7b494;
}

.title_map{
	height: 45px;
	background: #f5f5f5 url(../../../img/page/title_bj.png) no-repeat 20px center;
	padding-left: 30px;
	line-height: 45px;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 1000;
}
.sto_border_c{
	background: #ee7e5b;
}
.sto_border_bj{
	background: #f58664;
}

.width_50_p{
	width: 50%;
}
.width_90{
	width: 90px;
}
.width_200{
	width: 200px;
}
.width_250{
	width: 250px;
}
.width_300{
	width: 300px;
}
.width_400{
	width: 400px;
}
.width_500{
	width: 500px;
}


.ibox_title{
	background: #fafafa;
}
.ibox_b{
	border: 1px solid #ddd;
}
.icon_ca_layui{
	background: url(../../../img/icon/icon_ca.png) no-repeat center;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -7px;
	z-index: 999;
	cursor:pointer;
}
.nowrap{
	white-space: nowrap;
}