@charset "utf-8";

/*	项目名称：梧桐
 *	文件名称：车辆登记欢迎页面css文件
 *	开发时间：2017/04/14
 * 	开发人员：398146685@qq.com
 * 	页面样式标识符：_b
 * */

a{
	text-decoration: none;
}

body{
	padding: 14px;
	box-sizing: border-box;
	background: #f5f5f5;
}

.main_b{
	/*background: #ffffff;*/
}

.ibox{
	border: 1px solid #eeeeee;
	width: auto;
	background: #ffffff;
	overflow-x: hidden;
}

.ibox_system{
	border-bottom: 1px solid #eeeeee;
	width: auto;
	padding: 20px;
}

.system_code ul li{
	float: left;
}

.system_code ul li:first-child{
	margin-right: 20px;
}

.ibox_important_info{
	width: auto;
	padding: 20px;
	text-align: center;
}

.ibox_important_info span{
	font-size: 12px;
	color: #999999;
}

.ibox_important_info h3{
	padding: 0;
	display: inline-block;
	margin: 0 6px;
}

.ibox_tab{
	font-size: 14px;
	padding: 15px;
	color: #999999;
	border-bottom: 1px solid #eeeeee;
}

.ibox_tab ul li{
	float: left;
	margin: 0 10px;
}

.ibox_tab ul li.active a, .ibox_tab ul li a:hover{
	color: #fa7854;
}

.ibox_tab ul li a{
	color: #666666;
	text-decoration: none;
}

.ibox_tab_content{
	padding: 20px;
	display: none;
}

.ibox_tab_content.show{
	display: block;
}


.ibox_title{
	font-size: 14px;
	padding: 15px;
	color: #666666;
	border-bottom: 1px solid #eeeeee;
}

.ibox_content{
	padding: 10px;
	overflow: auto;
	height: calc(100% - 53px);
}


/*左右布局*/
.main_con_b{
	position: relative;
	margin-top: 45px;
	height: calc(100% - 45px);
}


.left_module{
	border: 1px solid #eeeeee;
	position: absolute;
	width: 200px;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	background: #ffffff;
	box-sizing: border-box;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
}

.right_module{
	border: 1px solid #eeeeee;
	position: absolute;
	width: auto;
	left: 220px;
	top: 0;
	bottom: 0;
	right: 0;
	overflow-x: hidden;
	background: #ffffff;
	box-sizing: border-box;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	z-index: 2;
	border-collapse: separate
}

.big_page .right_module{
	left: 0;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
}

.big_page .left_module{
	width: 0;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
}

.layui-tree li {
	 overflow: inherit;
}

.display_arrow{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 198px;
	width: 0px;
	height: 100%;
	z-index: 10;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
}

.display_arrow a{
	background: url(../../../img/icon/icon_arrow.png) no-repeat 0 0;
	position: absolute;
	display: block;
	width: 17px;
	height: 61px;
	top: 50%;
	margin-top: -30px;
	outline: none;
}

.display_arrow a:hover{
	background-position: -21px 0;
}

.display_arrow.open {
	left: 0;
	transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-webkit-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
}

.display_arrow.open a{
	background-position: 0 -61px;
}

.display_arrow.open a:hover{
	background-position: -21px -61px;
}