@charset "utf-8";

/*	项目名称：梧桐
 *	文件名称：梧桐系统默认欢迎页面css文件
 *	开发时间：2017/04/19
 * 	开发人员：344822559@qq.com
 * 	页面样式标识符：_zm
 * */

html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: url(../../img/layout/wel_bj.jpg) repeat-x bottom;
}
.wel_box_zm{
	height: 100%;
	background: url(../../img/layout/build_bj.png) repeat-x bottom;
	position: relative;
}

.wel_box_zm .wel_help_zm{
	position: absolute;
	display: block;
	right: 20px;
	top: 20px;
	background: url(../../img/icon/icon_help.png) no-repeat center;
	width: 18px;
	height: 18px;
}
.wel_box_zm .box_content_zm{
	height: 500px;
	width: 1020px;
	position: absolute;
	margin-top: -250px;
	top: 50%;
	left: 50%;
	margin-left: -510px;
}
.wel_box_zm .box_content_zm .news_box_zm{
	width: 990px;
	padding-left: 28px;
	height: 40px;
	border: 1px solid #f6eadb;
	overflow: hidden;
	position: relative;
	background: #fff8ef url(../../img/icon_horn.gif) no-repeat 10px center;
}
.wel_box_zm .box_content_zm .news_box_zm .news_li{
	height: 40px;
	position: absolute;
	top:0
}
.wel_box_zm .box_content_zm .news_box_zm .news_swap{
	height: 40px;
	position: absolute;
	top: 40px;
}

.wel_box_zm .box_content_zm .news_box_zm a{
	line-height: 40px;
	display: block;
/*	overflow: hidden;*/
}
.wel_box_zm .box_content_zm .news_box_zm a span{
	display: block;
	float: left;
	width: 70%;
	height: 40px;
	overflow: hidden;
}
.wel_box_zm .box_content_zm .news_box_zm a i{
	float: right;
	color: #999;
	font-size: 12px;
	font-style: normal;
	font-family: arial,"arial black","arial, helvetica, sans-serif";
}
.wel_box_zm .box_content_zm .news_box_zm a:last-child i{
	margin-right: 10px;
}

.wel_box_zm .box_content_zm .menu_box_zm{
	height: 430px;
}
.wel_box_zm .box_content_zm .menu_box_zm a{
	margin: 20px 20px 0px 0px;
	width: 240px;
	height: 175px;
	display: block;
	float: left;
	/*transition: transform 3s linear 20ms;*/
	transition: background 0.5s linear 20ms;
	-webkit-transition: background 0.5s linear 20ms;
	-moz-transition: background 0.5s linear 20ms;
}
.wel_box_zm .box_content_zm .menu_box_zm a:hover{
	text-decoration: none;
	background: #666462;
	/*transform: rotate(720deg);*/
}
.wel_box_zm .box_content_zm .menu_box_zm a img{
	height: 45px;
	display: block;
	margin: 0 auto;
	margin-top: 45px;
}
.wel_box_zm .box_content_zm .menu_box_zm a p{
	font-size: 18px;
	color: white;
	line-height: 40px;
	text-align: center;
}

.wel_box_zm .box_content_zm .menu_box_zm a:nth-child(4n){
	margin-right: 0px;
}
.copyright{
	height: 30px;
	text-align: center;
	line-height: 29px;
	color: #dc8863;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
}